@import "../../style/color";
@import "../../style/font";

.body-container {
  padding: 56px 0px;
}

.body-img {
  display: flex;
  justify-content: right;
  img {
    width: 450px;
    height: 450px;
  }
}

.body-text {
  text-align: justify;
  p {
    color: $black;
    font-family: "Body-1";
    font-size: 24px;
  }
  .header {
    font-family: "Header";
    font-size: 36px;
    color: #676767;
  }
}

.body-action {
  text-align: left;
  margin-top: 40px;
  button {
    background-color: $primary;
    color: $white;
    border: 0;
    padding: 12px 16px;
    font-family: "Button";
    font-size: 20px;
  }
}

@media only screen and (max-width: 900px) {
  .body-container {
    padding: 36px 0px;
  }

  .body-text {
    p {
      font-size: 20px;
    }
    .header {
      font-family: "Header";
      font-size: 36px;
      text-align: left;
    }
  }

  .body-img {
    justify-content: center;
    img {
      width: 320px;
      height: 320px;
    }
  }

  .soci-med {
    display: none;
  }
}
