@import "../../style/color";
@import "../../style/font";

.body-about-container {
  padding: 56px 0px;
}

.body-about-img {
  display: flex;
  justify-content: right;
  img {
    width: 450px;
    height: 450px;
  }
}

.body-about-text {
  text-align: left;
  p {
    color: $main;
    font-family: "Body-1";
    font-size: 24px;
  }
  .about-header {
    font-family: "Header";
    font-size: 36px;
    color: $main;
  }
}

@media only screen and (max-width: 900px) {
  .body-about-container {
    padding: 36px 0px;
  }

  .body-about-text {
    p {
      font-size: 20px;
    }
    .about-header {
      font-family: "Header";
      font-size: 36px;
      text-align: left;
    }
  }

  .body-about-img {
    justify-content: center;
    img {
      width: 320px;
      height: 320px;
    }
  }

  .soci-med {
    display: none;
  }
}
