@import "../../style/color";
.img{
    fill: $main;
}

.social-media-list{
    padding-left: 48px;
}

.social-media{
    padding-bottom: 8px;
}

@media only screen and (max-width: 900px) {
    .social-media-list{
        display: flex;
        justify-content: center;
        padding-left: 0px;
    }
    .social-media{
        float: right;
    }
}