@import "../../style/color";

.text-nav {
  padding: 0px 20px;

  a {
    color: $black;
    font-family: "Body-2";
    font-size: 20px;
    cursor: pointer;
    text-decoration: none;
  }
  a:hover {
    border-bottom: 2px solid $primary;
    font-family: "Button";
    color:$primary;
    -webkit-transition: 0.4s;
    transition: 0.4s;
  }
}
