@font-face {
    font-family:'Header';
    font-size: 36px;
    line-height: 60px;
    src: url(../fonts/Raleway-Regular.ttf);
}

@font-face {
    font-family:'Button';
    font-size: 24px;
    line-height: 32px;
    src: url(../fonts/Raleway-Medium.ttf);
}

@font-face {
    font-family:'Body-1';
    font-size: 24px;
    line-height: 40px;
    src: url(../fonts/Raleway-Light.ttf); 
}

@font-face {
    font-family:'Body-2';
    font-size: 20px;
    line-height: 37.5px;
    src: url(../fonts/Raleway-Light.ttf);
}

@font-face {
    font-family:'Header-Mobile';
    font-size: 28px;
    line-height: 43.5px;
    src: url(../fonts/Raleway-Medium.ttf);
}

@font-face {
    font-family:'Button-Mobile';
    font-size: 16px;
    line-height:18.5px;
    src: url(../fonts/Raleway-Medium.ttf);
}

@font-face {
    font-family:'Caption';
    font-size: 20px;
    line-height:23.5px;
    src: url(../fonts/Raleway-Medium.ttf);
}