@import "./font";
@import "./color";
@import "../component/header/header.scss";

body,
html {
  user-select: none;
  margin: 0;
  padding: 0;
  font-family: "Header", "Button", "Body-1", "Body-2", "Header-Mobile",
    "Button-Mobile", "Caption";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#app {
  text-align: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  // height: 100vh;
  // overflow:hidden;
  display: block;
  font-size: calc(10px + 2vmin);
  color: white;
  padding: 32px 64px;
  position: relative;
  // height: 100vh; /* for shorter content */
  display: flex;
  flex-direction: column;
}

.light-theme {
  // height:inherit;
  /* Set the 'light' theme */
  background: linear-gradient(
      356.92deg,
      #fefee31d 2.13%,
      #fefecd66 2.13%,
      #fefee300 97.11%
    ),
    linear-gradient(
      106.36deg,
      #f7d0c49c 27.2%,
      #ffc9b900 99.35%
    ),
    linear-gradient(
      282.43deg,
      #b0fad196 23.6%,
      #4c956c00 97.39%
    );
  --main--color: #2c2a2a;
  --main--reverse--color: white;
  --primary--color: hsl(147, 100%, 11%);
}

.dark-theme {
  /* Set the 'dark' theme */
  background: linear-gradient(270deg, #322424 0%, #112d14 0.01%, #100d0a 100%);
  --main--color: white;
  --main--reverse--color: hsl(0, 0%, 7%);
  --primary--color: hsl(14, 98%, 80%);
}

@media only screen and (max-width: 900px) {
  #app{
    padding: 24px 8px;
    height: 100%;
  }
  .nav-bar {
    display: none;
  }
}
