@import "../../style/color";
@import "../../style/font";

.body-container {
  padding: 56px 0px;
  flex: 1;
  display: flex !important;
  /*ie10*/
  -ms-flex: 1 1 auto;
  /*needs both shrink and grow*/
}

.body-img {
  display: flex;
  justify-content: right;

  img {
    width: 450px;
    height: 450px;
  }
}

.body-text {
  text-align: justify;

  .header {
    font-family: "Header";
    font-size: 36px;
    color: $main;
  }
}

.body-action {
  text-align: left;
  margin-top: 40px;

  a {
    background-color: $primary;
    text-decoration: none;
    color: $main-reverse;
    border: 0;
    padding: 14px 16px;
    font-family: "Button";
    font-size: 20px;
  }

  a:hover {
    color: white;
  }
}

@media only screen and (max-width: 900px) {
  .body-container {
    padding: 64px 0px;
    align-items: center;
    display: block !important;
    flex: 1;
  }

  .body-text {
    .header {
      text-align: center;
      font-size: 24px;
    }
  }

  .body-action {
    text-align: center;
    margin-top: 28px;
    margin-bottom: 36px;

    a {
      padding: 10px 12px;
      font-size: 16px;
    }
  }

  .body-img {
    justify-content: center;

    img {
      justify-content: center;
      width: 320px;
      height: 320px;
    }
  }

  .soci-med {
    display: none;
  }
}


// @media only screen and (min-width: 374px) {

//   .body-container {
//     padding: 52px 0px;
//     align-items: center;
//     display: block !important;
//   }

//   .body-text {
//     .header {
//       font-size: 28px;
//       text-align: center;
//     }
//   }

//   .body-action {
//     text-align: center;
//     margin-top: 28px;
//     margin-bottom: 48px;

//     a {
//       padding: 10px 12px;
//       font-size: 16px;
//     }
//   }

//   .body-img {
//     justify-content: center;

//     img {
//       justify-content: center;
//       width: 360px;
//       height: 360px;
//     }
//   }

//   .soci-med {
//     display: none;
//   }
// }

// @media only screen and (min-width: 588px) {
//   .body-container {
//     display: block !important;
//   }

//   .body-text {
//     .header {
//       text-align: center;
//       font-size: 32px;
//     }
//   }

//   .body-img {
//     justify-content: center;

//     img {
//       width: 500px;
//       height: 500px;
//     }
//   }

//   .body-action {
//     a {
//       padding: 12px 14px;
//       font-size: 18px;
//     }
//   }

//   .soci-med {
//     display: block;
//   }
// }

// @media only screen and (min-width: 745px) {
//   .body-container {
//     display: block !important;
//   }

//   .body-img {
//     justify-content: center;

//     img {
//       width: 600px;
//       height: 600px;
//     }
//   }
// }

// @media only screen and (min-width: 845px) {
//   .body-container {
//     display: block !important;
//   }

//   .body-text {
//     .header {
//       text-align: left;
//       font-size: 28px;
//     }
//   }

//   .body-action {
//     text-align: left;
//   }

//   .body-img {
//     justify-content: center;

//     img {
//       width: 450px;
//       height: 450px;
//     }
//   }
// }