@import "../../style/color";
@import "../../style/font";

.body-container {
  padding: 56px 0px;
}

.body-img {
  display: flex;
  justify-content: right;
  img {
    width: 450px;
    height: 450px;
  }
}

.body-text {
  text-align: justify;
  .header {
    font-family: "Header";
    font-size: 36px; 
    color: $main;
  }
}

.body-action {
  text-align: left;
  margin-top: 40px;
  a {
    background-color: $primary;
    text-decoration: none;
    color: $main-reverse;
    border: 0;
    padding: 14px 16px;
    font-family: "Button";
    font-size: 20px;
  }
  a:hover{
    color: white;
  }
}

@media only screen and (max-width: 900px) {
  .body-container {
    padding: 36px 0px;
    align-items: center;
  }

  .body-text {
    .header {
      text-align: center !important;
      font-size: 24px !important;
    }
  }

  .body-action {
    text-align: center;
    margin-top: 28px;
    margin-bottom: 16px;
    a {
      padding: 10px 12px;
      font-size: 16px;
    }
  }

  .body-img {
    justify-content: center;
    img {
      width: 320px !important;
      height: 320px !important;
    }
  }

  .soci-med {
    display: none;
  }
}

@media only screen and (max-width: 1200px) {
  .body-text {
    .header {
      text-align: left;
      font-size: 32px;
    }
  }
  .body-img {
    justify-content: center;
    img {
      width: 400px;
      height: 400px;
    }
  }
}
