@import "../../style/color";
@import "../../style/font";

.body-contact-container {
  padding: 56px 0px;
}

.body-contact-img {
  display: flex;
  justify-content: right;
  img {
    width: 450px;
    height: 450px;
  }
}

ul {
  padding: 0px !important;
}

li {
  list-style: none;
  margin-top: 18px;
  img {
    width: 40px;
    height: 40px;
  }
}

.instagram > a {
  color: #d822a1 !important;
  text-decoration: none;
  font-size: 22px;
  padding-right: 8px;
}

.linkedin > a {
  color: #2b8beb !important;
  text-decoration: none;
  font-size: 22px;
  padding-right: 8px;
}

.dribbble > a {
  color: #f24e8c !important;
  text-decoration: none;
  font-size: 22px;
  padding-right: 8px;
}

.github > a {
  color: #8f56df !important;
  text-decoration: none;
  font-size: 22px;
  padding-right: 8px;
}

.body-contact-text {
  text-align: justify;
  p {
    color: $main;
    font-family: "Body-1";
    font-size: 26px;
  }
  .contact-header {
    font-family: "Header";
    font-size: 36px;
    color: $main;
  }
}

@media only screen and (max-width: 900px) {
  .body-contact-container {
    padding: 36px 0px;
  }
  li {
    list-style: none;
    img {
      width: 35px;
      height: 35px;
    }
  }

  .instagram, .linkedin, .dribbble, .github{
    float: left;
    width: 100%;
  }

  .instagram > a {
    color: #d822a1 !important;
    text-decoration: none;
    font-size: 18px;
  }

  .linkedin > a {
    color: #2b8beb !important;
    text-decoration: none;
    font-size: 18px;
  }

  .dribbble > a {
    color: #f24e8c !important;
    text-decoration: none;
    font-size: 18px;
  }

  .github > a {
    color: #8f56df !important;
    text-decoration: none;
    font-size: 18px;
  }

  .body-contact-text {
    p {
      font-size: 18px;
    }
    .contact-header {
      font-family: "Header";
      font-size: 36px;
      text-align: left;
    }
  }

  .body-contact-img {
    justify-content: center;
    img {
      width: 320px;
      height: 320px;
    }
  }

  .soci-med {
    display: none;
  }
}
