@import "../../style/color";
@import "../../style/font";

.body-container {
  padding: 56px 0px;
  flex: 1;
  display: flex;
  align-items: center;
  /*ie10*/
  -ms-flex: 1 1 auto;
  /*needs both shrink and grow*/
}

.slider-style{
  padding:36px 120px 0px;
  height: 100vh;
  flex-direction: column;
  display: flex;
  justify-content: center;
  flex: 1;
}

li {
  width: 350px !important;
  margin-right: 20px;
  margin-bottom: 30px;
  img {
    width: 350px;
    height: 250px;
  }
  
}
.body-text {
  text-align: justify;

  .header {
    font-family: "Header";
    font-size: 36px;
    color: $main;
  }
}


@media only screen and (max-width: 1440px) {
  

  .body-container {
    padding: 64px 0px;
    display: flex;
    align-items: center;
    flex: 1;
  }
  .slider-style{
  padding:36px 64px 0px;
  // min-height: 100vh;
  flex-direction: column;
}

li {
  width: 350px !important;
  margin-right: 12px;
  img {
    width: 350px;
    height: 250px;
  }
  
}
  .body-text {
    .header {
      text-align: left;
      font-size: 32px;
    }
  }

  // .soci-med {
  //   display: none;
  // }
}

@media only screen and (max-width: 900px) {
  

  .body-container {
    padding: 64px 0px;
    display: flex;
    align-items: center;
    flex: 1;
  }
  .slider-style{
  padding:36px 20px 0px;
  // min-height: 100vh;
  flex-direction: column;
}


}