@import "../../style/color";
@import "../../style/font";

.overlay {
    height: 100%;
    width: 100%;
    position: fixed;
    display: none;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: $main-reverse;
    background-color: $main-reverse;
  }
  
  
  .overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
  }
  
  .overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 30px;
    color: $main;
    display: block;
    transition: 0.3s;
  }
  
  .overlay a:hover, .overlay a:focus {
    color: $main;
  }

  .switch-side-nav{
    margin-left: 25px;
  }

  .header-side-nav {
    margin-top: 20px !important;
    .close-btn{
      .close-btn-color{
        fill:$main;
      }
    }
  }
  @media screen and (max-height: 450px) {
    .overlay a {font-size: 20px}
    .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
    }
  }